/* prettier-ignore */
{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:astro/recommended"
  ],
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": [
    "astro",
    "prettier",
    "simple-import-sort",
    "import",
    "@typescript-eslint"
  ],
  "rules": {
    "no-undef": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // Packages `react` related packages come first.
          ["^react", "^astro", "^@?\\w"],
          // Internal packages.
          ["^(@/assets)(/.*|$)"],
          ["^(@/components)(/.*|$)"],
          ["^(@/content)(/.*|$)"],
          ["^(@/data)(/.*|$)"],
          ["^(@/i18n)(/.*|$)"],
          ["^(@/layouts)(/.*|$)"],
          ["^(@/lib)(/.*|$)"],
          ["^(@/pages)(/.*|$)"],
          ["^(@/styles)(/.*|$)"],
          ["^(@/utils)(/.*|$)"],
          // Side effect imports.
          ["^\\u0000"],
          // Parent imports. Put `..` last.
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
          // Other relative imports. Put same-folder imports and `.` last.
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          // Style imports.
          ["^.+\\.?(css)$"]
        ]
      }
    ],
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error"
  },
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"],
        "sourceType": "module"
      },
      "rules": {
        "import/first": "off"
      }
    }
  ],
  "ignorePatterns": [
    ".astro/",
    "node_modules/",
    "api/",
    "dist/",
    "functions/",
    "public/",
    "prisma/",
    "scripts/",
    "*.d.ts",
    "*.config.cjs"
  ]
}