---
import type { Language } from '@/i18n/ui'
import { useTranslations } from '@/i18n/utils'

import formatDate from '@/utils/formatDate'

import Icon from './Icon.astro'

export interface Props {
  class?: string
  date: Date
}

const { class: className, date } = Astro.props

const currentLanguage = Astro.currentLocale as Language

const t = useTranslations(currentLanguage)
---

<dl class:list={['flex items-center', className]}>
  <dt>
    <span class="sr-only">{t('common.date')}</span>
    <Icon icon="clock" class="w-4 h-4" />
  </dt>
  <dd class="ml-2 text-sm">
    <time itemprop="datePublished" datetime={date.toISOString()}>
      {formatDate(date, currentLanguage)}
    </time>
  </dd>
</dl>
