---
import { Image } from 'astro:assets'

import logoImg from '@/assets/logo.png'

import config from '@/data/config'

import type { Language } from '@/i18n/ui'

import { getHomePath } from '@/utils/pathHelper'

const lang = Astro.currentLocale as Language
---

<a href={getHomePath(lang)} class="logo flex items-center">
  <span class="lowercase dark:text-white italic font-semibold text-3xl"
    >{config.logoTitle}</span
  >
  <Image
    src={logoImg}
    width={96}
    quality={100}
    class="ml-2 w-12 dark:invert will-change-transform"
    alt="Logo"
  />
</a>

<style>
  .logo {
    font-family: 'Lato', sans-serif;
    transition: all 0.3s ease;
  }

  @media screen(md) {
    .logo:hover {
      transform: scale(1.05);
    }
  }
</style>
