@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Open Sans', sans-serif;
  }
}

@layer components {
  .card {
    @apply dark:text-white bg-slate-200 dark:bg-neutral-800 bg-opacity-50 shadow-sm rounded-lg;
  }
}

@layer utilities {
  .link {
    @apply relative;
  }
}

.link::after {
  @apply absolute block w-full h-0.5 bottom-0 left-0 transform origin-left scale-x-0 transition-transform duration-300 ease-out;
  content: '';
  background-color: inherit;
}
.link:hover::after {
  @apply scale-x-100;
}

.post p {
  @apply text-lg leading-7;
}

.post h2 {
  @apply mt-6 text-3xl font-semibold dark:text-neutral-100;
}

.post h3 {
  @apply mt-4 text-2xl font-semibold dark:text-neutral-100;
}

.post code {
  @apply text-xs md:text-base rounded-sm bg-neutral-800 px-2 py-1 text-yellow-500;
}

.post a {
  @apply link text-indigo-600 dark:text-indigo-400 after:bg-indigo-500;
}

.post ul {
  @apply flex flex-col gap-3 text-lg leading-7 pl-5;
  list-style: square;
}

.post blockquote {
  @apply card italic text-xl flex my-4 p-4 border-l-4 border-neutral-800 dark:border-slate-200;
}

.post pre {
  @apply p-3 md:p-4 my-4 rounded-lg;
}

.post pre > code {
  @apply flex flex-col bg-transparent;
}

.post img {
  @apply my-4 mx-auto rounded-lg shadow-lg;
}