---
import LanguageSelector from '@/components/shared/LanguageSelector.astro'
import Logo from '@/components/shared/Logo.astro'

import { getBlogPath, getHomePath } from '@/utils/pathHelper'

import DarkMode from './shared/DarkMode.astro'
import Navigation from './shared/Navigation.astro'

const navs = [
  {
    label: 'Home',
    href: getHomePath(),
  },
  {
    label: 'Blog',
    href: getBlogPath(),
  },
]

export interface Props {
  translatedPostSlug?: string
}

const { translatedPostSlug } = Astro.props
---

<header
  class="relative z-40 flex w-full flex-col gap-2 md:flex-row md:justify-between md:items-center"
>
  <Logo />

  <div class="flex text-lg" role="navigation">
    <Navigation {navs} />
    <div
      class="absolute flex items-center gap-1 md:gap-4 top-0 right-0 md:static md:ml-6 md:pl-4 md:border-l border-neutral-500"
    >
      <LanguageSelector
        class="text-base py-3 md:py-0 md:text-lg"
        showFlag
        {translatedPostSlug}
      />
      <DarkMode />
    </div>
  </div>
</header>
